#container {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

#test {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ccc;
}

#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}
